In [2]:
from experiment_information import *
from data import *
import pandas as np
import numpy as np
%load_ext autoreload
%autoreload 2

In [3]:
df_experiments = None
df_state_evolution = None
df_erm = None
with DataBaseHandler() as dbHandler:
    df_experiments = dbHandler.getAllERMEvolutionExperimentsAsDataFrame()
    df_state_evolution = dbHandler.getAllStateEvolutionExperimentsAsDataFrame()
    df_erm = dbHandler.getAllERMEvolutionExperimentsAsDataFrame()

In [4]:
df_experiments

,code_version,experimend_id,date,q,m,rho,cosb,epsilon,lam,generalization_error_erm,generalization_error_overlap,chosen_minimizer,training_error,test_loss,d,tau,alpha
0,3,af2ca036-92bb-4857-97ac-4adc7273d18b,2023-03-23T09:51:46.593408,1.004636,-0.017039,1.24035,-0.015264,0.3,0.0001,0.46,0.504859,test,0.44,1.35588,10,2.0,10.0

In [5]:
df_state_evolution

,code_version,experiment_id,date,sigma,q,m,initial_condition,alpha,epsilon,tau,lam,abs_tol,min_iter,max_iter,blend_fpe,int_lims,generalization_error
0,3,af2ca036-92bb-4857-97ac-4adc7273d18b,2023-03-23T09:51:46.592629,0.1,0.1,0.1,"[0.1, 0.2, 0.4]",4.0,3.0,1.0,3.0,4.0,5,23,34.0,234.0,0.428217

In [6]:
df_erm

,code_version,experimend_id,date,q,m,rho,cosb,epsilon,lam,generalization_error_erm,generalization_error_overlap,chosen_minimizer,training_error,test_loss,d,tau,alpha
0,3,af2ca036-92bb-4857-97ac-4adc7273d18b,2023-03-23T09:51:46.593408,1.004636,-0.017039,1.24035,-0.015264,0.3,0.0001,0.46,0.504859,test,0.44,1.35588,10,2.0,10.0